@media only screen and (max-width: 767px) {
	.mobile-navbar {
		 &.navbar-hide {
		 	bottom: -55px;
		 }
		box-shadow: -3px 1px 6px 0px #000;
		transition: bottom 0.5s ease;
		position: fixed !important;
		z-index: 999;
	    left: 0;
	    bottom: 0;
	    width: 100%;
	   .navbar-collapse.show-mobile {
	   	display: block !important;
	   }
	   .navbar-nav {
	   	display: flex;
	    flex-direction: row;
	    width: 100%;
	    justify-content: space-around;
	    .nav-link {
	    	svg {
	    		
	    	}
	    	span {
	    		display: none;
	    	}
	    }
	   }
	}
}

@media only screen and (min-width: 768px) {
	.navbar-nav {
	  .nav-link {	
	  	svg {
	  		display: none;
	  	}
	  }
	}
}