.shop-cover-image {
	&.jumbotron {
		height: 180px;
	}
	background-size: cover;
	height: 150px;
	background-position: center;
	position: relative;
	@extend .round-logo;
}

.round-logo {
	&:after {
		content: '';
		transform: translate(-50%,-50%);
		top: 50%;
		left: 50%;
		position: absolute;
		width: 75px;
		height: 75px;
		background-color: #fff;
		opacity: 0.75;
		border-radius: 50%;
	}
}

.shop-logo {
	&.position-absolute {
		transform: translate(-50%,-50%);
		left: 50%;
		top: 50%;
	}
	width: 50px;
	height: auto;
	z-index: 1;
}