.shops-list {
	.shop {
		.shop-cover-image {
			background-size: cover;
			height: 150px;
			background-position: center;
			position: relative;
			&:after {
				content: '';
				transform: translate(-50%,-50%);
				top: 50%;
				left: 50%;
				position: absolute;
		    width: 75px;
		    height: 75px;
		    background-color: #fff;
		    opacity: 0.75;
		    border-radius: 50%;
			}
			.shop-logo {
				width: 50px;
				height: auto;
				z-index: 1;
			}
		}
	}
}